<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
  <title>Question yourself, with your own context: Under Consturction</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
        .dislike_color{
            color:red
        }
    </style>
  </head>
  <div class="container-fluid">
  <body style="background: whitesmoke;" width:100%>
    <div class="login">
     <h1  style="color:blue;">Graduate Adviser - Trial </h1>
   
        <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict')}}"method="post">

          <div class="form-group">
            
            <select name="category" id="category" class="form-control">
              <option selected>Choose...</option>
              <option value='electives'>electives</option>
              <option value='graduation'>Graduation</option>
              <option value='project'>Project</option>
              <option value='others'>Others</option>
              
            </select>
          </div>

          <div class="form-group">
            


            <div class="form-group">
              <label for="inputAddress">Question</label>
              <input type="text" class="form-control" name="question" id="inputAddress" placeholder="Type your question here...">
            </div>
         
          </div>
          <p style=  "color:red"  >
            {{ prediction_text }}
            
           </p>
          
          <p>Please provide your feedback<br/><br/> <button type="submit" name="like" value="Submit" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Like</button>
            <p style=  "color:green" >
              {{ like_count }}</p>
             <button type="submit" name="Dislike" value="Dislike"  class="btn btn-danger btn-lg"><span  class="glyphicon glyphicon-thumbs-down"></span> Disike</button><p style=  "color:red"  >
              {{ dislike_count }}
              
             </p></p>
 

        </form>


       
   
      <br>
      <br>


     
    </div>
        
    
   
   
   </body>
   </div>
</html>
